@import 'bootstrap/bootstrap';

$font-primary: 'Quicksand', sans-serif;
$primary: #6c757d;
$secondary: black;

//SIDEBAR
.wrapper {
    width: 100%;
}

#sidebar {
    min-width: 270px;
    max-width: 270px;
    background: $primary;
    color: #fff;
    transition: all 0.3s;
    position: relative;

    .h6 {
        color: $white;
    }

    &.active {
        margin-left: -270px;
    }

    h1 {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 30px;

        .logo {
            color: $white;

            span {
                font-size: 14px;
                color: $secondary;
                display: block;
            }
        }
    }

    ul.components {
        padding: 0;
    }

    ul {
        li {
            font-size: 16px;

            >ul {
                margin-left: 10px;

                li {
                    font-size: 14px;
                }
            }

            a {
                padding: 10px 0;
                display: block;
                color: rgba(255, 255, 255, .6);
                border-bottom: 1px solid rgba(255, 255, 255, .1);

                span {
                    color: $secondary;
                }

                &:hover {
                    color: $white;
                }
            }

            &.active {
                >a {
                    background: transparent;
                    color: $white;
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        margin-left: -270px;

        &.active {
            margin-left: 0;
        }
    }

    .custom-menu {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 0;
        margin-right: -20px;
        @include transition(.3s);

        .btn {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            position: relative;

            i {
                margin-right: -40px;
                font-size: 14px;
            }

            &.btn-primary {
                background: transparent;
                border-color: transparent;

                &:after {
                    z-index: -1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    content: '';
                    transform: rotate(45deg);
                    background: $primary;
                    border-radius: 10px;
                }

                &:hover,
                &:focus {
                    background: transparent !important;
                    border-color: transparent !important;
                }
            }
        }
    }
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#sidebarCollapse {
    span {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}

#content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    transition: all 0.3s;
}


.btn {
    &.btn-primary {
        background: $primary;
        border-color: $primary;

        &:hover,
        &:focus {
            background: $primary !important;
            border-color: $primary !important;
        }
    }
}

$color_1: white;
$color_2: rgba(0, 0, 0, .54);
$color_3: #fff;

.accordion {
    input {
        display: none;
    }
}

.box {
    position: relative;
    background: white;
    height: 64px;
    transition: all .15s ease-in-out;

    &::before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
        box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    }
}

header.box {
    background: #00BCD4;
    z-index: 100;
    cursor: initial;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px -2px rgba(0, 0, 0, .12), 0 2px 4px -4px rgba(0, 0, 0, .24);
}

header {
    .box-title {
        margin: 0;
        font-weight: normal;
        font-size: 16pt;
        color: $color_1;
        cursor: initial;
    }
}

.box-title {
    width: calc(100% - 40px);
    height: 64px;
    line-height: 64px;
    padding: 0 20px;
    display: inline-block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.all-book {
    width: calc(100% - 40px);
    height: 64px;
    line-height: 64px;
    padding: 0 20px;
    display: inline-block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.arrows {
    section {
        .all-book {
            padding-left: 44px;
            width: calc(100% - 64px);
        }

        .box-title {
            padding-left: 44px;
            width: calc(100% - 64px);

            &:before {
                position: absolute;
                display: block;
                content: '\203a';
                font-size: 18pt;
                left: 20px;
                top: -2px;
                transition: transform .15s ease-in-out;
                color: $color_2;
            }
        }
    }
}

.box-content {
    width: calc(100% - 40px);
    padding: 15px 20px;
    font-size: 11pt;
    color: $color_2;
    display: none;
}

.box-close {
    position: absolute;
    height: 64px;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

input {
    &:checked+.box {
        height: auto;
        margin: 16px 0;
        box-shadow: 0 0 6px rgba(0, 0, 0, .16), 0 6px 12px rgba(0, 0, 0, .32);

        .box-title {
            border-bottom: 1px solid rgba(0, 0, 0, .18);
        }

        .box-content {
            display: inline-block;
        }

        .box-close {
            display: inline-block;
        }
    }

    &:checked+section.box {
        .box-title {
            &:before {
                transform: rotate(90deg);
            }
        }
    }
}

.mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
}

.bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.card {
    .bg-image {
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
    }
}

.hover-zoom {
    img {
        transition: all .3s linear;
    }

    video {
        transition: all .3s linear;
    }

    &:hover {
        img {
            transform: scale(1.1);
        }

        video {
            transform: scale(1.1);
        }
    }
}

.badge {
    display: inline-block;
    padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: $color_3;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.hover-overlay {
    .mask {
        opacity: 0;
        transition: all .3s ease-in-out;

        &:hover {
            opacity: 1;
        }
    }
}

.card-body {
    flex: 1 1 auto;
    padding: 1.5rem;
}

.card-body[class*=bg-] {
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.card-title {
    margin-bottom: .5rem;
}

.text-decoration-none {
    text-decoration: none;
}

.pagination-container {
    margin: 10px auto;
    text-align: center
}

.pagination {
    position: relative;

    a {
        position: relative;
        display: inline-block;
        color: #2c3e50;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 8px 16px 10px;

        &:before {
            z-index: -1;
            position: absolute;
            height: 100%;
            width: 100%;
            content: "";
            top: 0;
            left: 0;
            background-color: #2c3e50;
            border-radius: 24px;
            transform: scale(0);
            transition: all 0.2s;
        }

        &:hover,
        .pagination-active {
            color: #fff;

            &:before {
                transform: scale(1);
            }
        }
    }

    .pagination-active {
        color: #fff;

        &:before {
            transform: scale(1);
        }
    }
}

.pagination-newer {
    margin-right: 50px;
}

.pagination-older {
    margin-left: 50px;
}