<header class="ftco-section">
    <div class="container-fluid px-lg-5 pb-3">
        <div class="row">
            <div class="col-md-8 order-md-first">
                <div class="row">
                    <div class="col-md-6 order-2 order-md-1">
                        <form action="#" class="searchform order-lg-first">
                            <div class="form-group d-flex">
                                <input type="text" class="form-control pl-3" placeholder="Search">
                                <button type="submit" placeholder="" class="form-control search"><span
                                        class="fa fa-search"></span></button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 my-3 my-md-0 order-1 order-md-2">
                        <div class="text-center">
                            <a class="navbar-brand" href="/">Logistica <span>Architecture Agency</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center justify-content-lg-end align-items-center">
                <div class="social-media">
                    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-outline-danger mx-2"
                        role="button">
                        Sign up
                    </a>
                    <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-outline-secondary me-2"
                        role="button">
                        Sign in
                    </a>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    {{!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Page</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="#">Page 1</a>
                            <a class="dropdown-item" href="#">Page 2</a>
                            <a class="dropdown-item" href="#">Page 3</a>
                            <a class="dropdown-item" href="#">Page 4</a>
                        </div>
                    </li> --}}
                    <li class="nav-item"><a href="/shop" class="nav-link">Shop</a></li>
                    <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->
</header>

<script>
    const pathname = window.location.pathname
    const element = document.querySelector("#ftco-nav > ul");

    for (let i = 1; i < element.childNodes.length; i += 2) {
        const href = element.childNodes[i].childNodes[0].getAttribute("href")
        if (href === pathname) {
            element.childNodes[i].className += " active"
        }
    }
</script>